################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/SKConsoleApp/bin/Debug/net6.0
/SKConsoleApp/obj
